<div
  class="max-w-sm rounded overflow-hidden shadow-lg cursor-pointer transform transition duration-300 hover:scale-102"
  (click)="onMovieClick()"
>
  <img
    class="w-full h-64 object-cover"
    [src]="movie.posterUrl"
    alt="{{ movie.name }}"
  />
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{ movie.name }}</div>
    <p class="text-gray-700 text-base">
      {{ movie.description }}
    </p>
  </div>
  <div class="px-6 pt-4 pb-2 flex justify-between items-center">
    <span
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
    >
      Duración: {{ movie.duration }} min
    </span>
    <span
      class="inline-block px-3 py-1 text-sm font-semibold rounded-full"
      [ngClass]="
        movie.isAvailable
          ? 'bg-green-200 text-green-700'
          : 'bg-red-200 text-red-700'
      "
    >
      {{ movie.isAvailable ? "Disponible" : "No disponible" }}
    </span>
  </div>
</div>
