<div class="pt-4">
  <div *ngIf="showings.length > 0; else noShowings">
    <div class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-8 gap-3">
      <div
        *ngFor="let showing of showings"
        class="p-3 bg-white rounded-lg shadow-sm border border-gray-200 flex items-center justify-center cursor-pointer transform transition duration-300 hover:scale-102"
      >
        <i class="pi pi-clock text-green-500 text-lg mr-2"></i>
        <span class="text-gray-700 font-medium">{{
          showing.dateTime | date : "shortTime"
        }}</span>
      </div>
    </div>
  </div>
  <ng-template #noShowings>
    <div class="flex items-center text-gray-500 text-sm mt-2">
      <i class="pi pi-exclamation-circle text-red-500 mr-2"></i>
      No hay funciones disponibles para este idioma.
    </div>
  </ng-template>
</div>
