header {
  background-color: #f8f9fa;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

nav a:hover {
  color: #0056b3;
}

.block-user {
  display: flex;
  align-items: center;
}

input {
  width: 10px;
}
